<% if user_signed_in? %>
  <p> Logged in as <%= @user.email %></p>
  <%= link_to "Profile", user_path(@user) %>
  <br>
  <%= link_to "Create New Event", new_event_path %>
  <br>
  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
  <br>
  <h1>List of Events</h1>
  <h2>Upcoming Events</h2>
  <% @upcoming_events.each do |event| %>
    <p><%= link_to event.title, event_path(event) %> - <%= event.date %></p>
  <% end %>
  <h2>Past Events</h2>
  <% @past_events.each do |event| %>
    <p><%= link_to event.title, event_path(event) %> - <%= event.date %></p>
  <% end %>
<% else %>
  To see the events, you need to Log In or Sing Up <br>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
