<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
    <ul>
      <% @event.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>New Event</h1>
<%= form_with(model: @event, url: events_path) do |form| %>
  <%= form.label :title , style: "display: block", class:"form-label" %>
  <%= form.text_field :title, class:"form-control"  %>
  <%= form.label :description, style: "display: block", class:"form-label" %>
  <%= form.text_area :description, class:"form-label" %>
  <%= form.label :date, style: "display: block", class:"form-label" %>
  <%= form.date_field :date, class:"form-label"  %>
  <%= form.label :location, style: "display: block", class:"form-label" %>
  <%= form.text_field :location, class:"form-label"%>
  <%= form.submit "Create Event" %>
<% end %>
<%= link_to "Back to Events", root_path %>
